/* importing from other CSS modules */
@value colors: "../../css/colors.module.css";
@value text-color from colors;

/* local values */
@value header-height: 75px;
@value footer-height: 180px;
@value navbar-width: 80px;
@value sidebar-width: 460px;
@value container-border-radius: 12px;

/* local colors */
@value blue-2: #a5d8ff;
@value gray-0: #f8f9fa;
@value gray-2: #e9ecef;
@value gray-4: #ced4da;
@value gray-5: #adb5bd;
@value indigo-1: #dbe4ff;

.layout-wrapper {
  color: text-color;
}

/* container "mixin" */
.container {
  border-radius: container-border-radius;
  transition: all 0.25s ease, opacity 0.15s ease;
}

.panel-top {
  composes: container;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: header-height;
  background-color: blue-2;
}

.panel-left {
  composes: container;
  position: absolute;
  top: header-height;
  bottom: footer-height;
  left: 0;
  width: navbar-width;
  background-color: gray-2;
}

.panel-main {
  composes: container;
  position: absolute;
  top: header-height;
  bottom: footer-height;
  left: navbar-width;
  right: sidebar-width;
  background-color: gray-0;
}

.panel-right {
  composes: container;
  position: absolute;
  top: header-height;
  bottom: footer-height;
  right: 0;
  left: calc(100% - sidebar-width);
  background-color: gray-2;
}

.panel-bottom {
  composes: container;
  position: absolute;
  bottom: 0;
  height: footer-height;
  left: 0;
  right: 0;
  background-color: blue-2;
}

/* header */

.show-top .panel-top {
  height: header-height;
  opacity: 1;
}

.show-top .panel-left,
.show-top .panel-main,
.show-top .panel-right {
  top: footer-height;
}

.hide-top .panel-top {
  height: 0;
  opacity: 0;
}

.hide-top .panel-left,
.hide-top .panel-main,
.hide-top .panel-right {
  top: 0;
}


/* footer */

.show-bottom .panel-bottom {
  height: footer-height;
  opacity: 1;
}

.show-bottom .panel-left,
.show-bottom .panel-main,
.show-bottom .panel-right {
  bottom: footer-height;
}

.hide-bottom .panel-bottom {
  height: 0;
  opacity: 0;
}

.hide-bottom .panel-left,
.hide-bottom .panel-main,
.hide-bottom .panel-right {
  bottom: 0;
}

/* navbar */

.show-left .panel-left {
  right: navbar-width;
  opacity: 1;
}

.show-left .panel-main {
  left: navbar-width;
}

.hide-left .panel-left {
  right: 0;
  opacity: 0;
}

.hide-left .panel-main {
  left: 0;
}

/* sidebar */

.show-right .panel-right {
  left: calc(100% - sidebar-width);
  opacity: 1;
}

.show-right .panel-main {
  right: 460px;
}

.hide-right .panel-right {
  left: 100vw;
  opacity: 0;
}

.hide-right .panel-main {
  right: 0;
}

/* panel control buttons */

.panel-controls {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  padding: 8px;
  background-color: rgba(169, 169, 169, 0.28);
  border-radius: 6px;
  display: flex;
  gap: 8px;
}

.hide-main .button-top,
.hide-main .button-bottom,
.hide-main .button-left,
.hide-main .button-right {
  display: none;
}

/* misc */

.heading {
  font-weight: 600;
}

p {
  margin: 1rem;
  padding: 0.5rem;
  background-color: indigo-1;
  border-radius: container-border-radius;
  text-align: center;
}
