:root {
  --header-height: 75px;
  --footer-height: 180px;
  --navbar-width: 80px;
  --sidebar-width: 460px;
  --container-border-radius: 12px;

  --blue-2: #a5d8ff;
  --gray-0: #f8f9fa;
  --gray-2: #e9ecef;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --indigo-1: #dbe4ff;
}

.layout-wrapper {
  color: var(--text-color);
}

.heading {
  font-weight: 600;
}

/* container "mixin" */
.container {
  border-radius: var(--container-border-radius);
  transition: all 0.25s ease, opacity 0.15s ease;
}

.top {
  composes: container;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  background-color: var(--blue-2);
}

.left {
  composes: container;
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0;
  width: var(--navbar-width);
  background-color: var(--gray-2);
}

.main {
  composes: container;
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: var(--navbar-width);
  right: var(--sidebar-width);
  background-color: var(--gray-0);
}

.right {
  composes: container;
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  right: 0;
  left: calc(100% - var(--sidebar-width));
  background-color: var(--gray-2);
}

.bottom {
  composes: container;
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
  left: 0;
  right: 0;
  background-color: var(--blue-2);
}

/* header */

.show-top .top {
  height: var(--header-height);
  opacity: 1;
}

.show-top .left,
.show-top .main,
.show-top .right {
  top: var(--footer-height);
}

.hide-top .top {
  height: 0;
  opacity: 0;
}

.hide-top .left,
.hide-top .main,
.hide-top .right {
  top: 0;
}

/* footer */

.show-bottom .bottom {
  height: var(--footer-height);
  opacity: 1;
}

.show-bottom .left,
.show-bottom .main,
.show-bottom .right {
  bottom: var(--footer-height);
}

.hide-bottom .bottom {
  height: 0;
  opacity: 0;
}

.hide-bottom .left,
.hide-bottom .main,
.hide-bottom .right {
  bottom: 0;
}

/* navbar */

.show-left .left {
  right: var(--navbar-width);
  opacity: 1;
}

.show-left .main {
  left: var(--navbar-width);
}

.hide-left .left {
  right: 0;
  opacity: 0;
}

.hide-left .main {
  left: 0;
}

/* sidebar */

.show-right .right {
  left: calc(100% - var(--sidebar-width));
  opacity: 1;
}

.show-right .main {
  right: 460px;
}

.hide-right .right {
  left: 100vw;
  opacity: 0;
}

.hide-right .main {
  right: 0;
}

/* panel control buttons */

.panel-controls {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  padding: 12px;
  background-color: rgba(169, 169, 169, 0.28);
  border-radius: 6px;
}

.hide-main .button-top,
.hide-main .button-bottom,
.hide-main .button-left,
.hide-main .button-right {
  display: none;
}

/* misc */

p {
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--indigo-1);
  border-radius: var(--container-border-radius);
  text-align: center;
}
